.dark-theme {
  --clr-bcg: #000;
  --clr-col: #fff;
  --clr-prim: rgb(250, 171, 185);
}

.light-theme {
  --clr-bcg: #fff;
  --clr-col: #000;
  --clr-prim: rgb(250, 77, 106);
}

h1 {
  font-weight: bold;
  font-size: 30px;
  color: var(--clr-col)
}
h2 {
  color: var(--clr-prim);
  font-weight: bold;
  text-transform: capitalize;
}
p{
  color: var(--clr-col);
}
nav {
  margin: 40px 0;
}
.container {
  margin: 0 auto;
  width: 90vw;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section {
  margin: 0 auto;
  width: 90vw;
  max-width: 700px;
  padding: 10px;
}
.article-info {
  color: var(--clr-col);
  font-style: italic;
}

.btn-light, .btn-dark {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  letter-spacing: 1px;
  
  text-transform: uppercase;
  transition: all 0.3s linear;
}
.btn-dark {
  color: var(--clr-prim);
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(231, 231, 231, 0.8);
}
.btn-light {
  background-color: var(--clr-prim);
  color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}
.btn-light:focus, .btn-dark:focus {
  outline: none;
}